#SVN directory
/.svn

#Eclipse IDE files
/.settings
/.buildpath
/.project

#Composer-loaded files
/vendor/*
!/vendor/etc/
!/vendor/usr/

#CMS cache and logs
/var/cache/*
/var/log/*
/var/xml/*
/var/image/*

#CMS uploaded/created files
/website/lst/var/agreements/*
/website/lst/var/billing/export_invoice/*
/website/lst/var/billing/invoice/*
/website/lst/var/billing/invoice/archive/*
/website/lst/var/billing/master_data/*
/website/lst/var/billing/voucher_export/*
/website/lst/var/company/apps/*
/website/lst/var/company/bookkeeping_export/*
/website/lst/var/company/company/*
/website/lst/var/company/contract/*
/website/lst/var/company/file/*
/website/lst/var/company/payroll/*
/website/lst/var/company/report/*
/website/lst/var/company/stored_data/*
/website/lst/var/company/voucher/*
/website/lst/var/config/*
/website/lst/var/mail/*
/website/lst/var/partner/report/*
/website/lst/var/product/product_group/*
/website/lst/var/product/receipt_type/*
/website/lst/var/receipt/comment/*
/website/lst/var/receipt/file/*
/website/lst/var/receipt/log/*
/website/lst/var/user/*
/website/lst/var/var/user/*

#CMS configs
/website/configure.xml
/website/lst/configure.ini

#mpdf library generated font data
/include/mpdf60/ttfontdata/*

#Put .gitkeep file to the folders which MUST to exist but SHOULD be empty
!.gitkeep

#local testing scripts
/debug/*

/.idea
