{
"osb-rabbitmq":[{
  "name": "rabbitmq",
  "instance_name": "rabbitmq",
  "binding_name": null,
  "credentials": {
    "vhost": "/",
    "hostname": "rabbitmq.default.svc",
    "password": "pTIT1KN0f4",
    "port": 5672,
    "name": "/",
    "user": "user",
    "uri": "amqp://user:pTIT1KN0f4@rabbitmq.default.svc:5672/"
  },
  "syslog_drain_url": null,
  "volume_mounts": [

  ],
  "label": "osb-rabbitmq",
  "provider": null,
  "plan": "s",
  "tags": [

  ]
}],"user-provided":[{
  "name": "swift",
  "instance_name": "swift",
  "binding_name": null,
  "credentials": {
    "OS_AUTH_URL": "http://poc-trebono-swift.da-rz.net:5000/v3/",
    "OS_CONTAINER": "$APP_ENV",
    "OS_IDENTITY_API_VERSION": "3",
    "OS_INTERFACE": "public",
    "OS_PASSWORD": "uxlmqpdgehwv",
    "OS_PROJECT_ID": "563fa1c765c04ecc917c4fda6b5e54db",
    "OS_REGION": "RegionOne",
    "OS_USERNAME": "admin",
    "OS_USER_DOMAIN_ID": "default"
  },
  "syslog_drain_url": "",
  "volume_mounts": [

  ],
  "label": "user-provided",
  "tags": [

  ]
}],
"osb-postgresql": [
    {
      "name": "lst_control",
      "instance_name": "$DB_CONTROL_DATABASE",
      "credentials": {
        "user": "$DB_CONTROL_USERNAME",
        "password": "$DB_CONTROL_PASSWORD",
        "database": "$DB_CONTROL_DATABASE",
        "uri": "postgres://$DB_CONTROL_USERNAME:$DB_CONTROL_PASSWORD@$DB_HOST:$DB_PORT/$DB_CONTROL_DATABASE"
      }
    },
    {
      "name": "lst_personal",
      "instance_name": "lst_personal",
      "credentials": {
        "user": "$DB_PERSONAL_USERNAME",
        "password": "$DB_PERSONAL_PASSWORD",
        "database": "$DB_PERSONAL_DATABASE",
        "uri": "postgres://$DB_PERSONAL_USERNAME:$DB_PERSONAL_PASSWORD@$DB_HOST:$DB_PORT/$DB_PERSONAL_DATABASE"
      }
    },
    {
      "name": "lst_main",
      "instance_name": "lst_main",
      "credentials": {
        "user": "$DB_MAIN_USERNAME",
        "password": "$DB_MAIN_PASSWORD",
        "database": "$DB_MAIN_DATABASE",
        "uri": "postgres://$DB_MAIN_USERNAME:$DB_MAIN_PASSWORD@$DB_HOST:$DB_PORT/$DB_MAIN_DATABASE"
      }
    }
  ]
}