<div class="modal fade modal-wide" id="Modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"><TMPL_VAR NAME='LNG_ChatList'> <TMPL_VAR NAME='employee_name'></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="form-label"><TMPL_VAR NAME='LNG_Service'/></label>
							<select name="FilterProductGroup" class="form-control receipt-filter">
								<option value=""><TMPL_VAR NAME='LNG_All'/></option>
								<TMPL_LOOP NAME='ProductGroupList'>
									<option value="<TMPL_VAR NAME='group_id'>" <TMPL_IF NAME='Selected'>selected</TMPL_IF>><TMPL_VAR NAME='title_translation'/></option>
								</TMPL_LOOP>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<label class="form-label"><TMPL_VAR NAME='LNG_FilterCreatedRangeChat'></label>
						<input type="text" name="FilterCreatedRangeChat" class="form-control daterange active receipt-filter" value="<TMPL_VAR NAME='FilterCreatedRangeChat'>">
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-icon" id="FilterReceipt"><i class="fa fa-search"></i> <TMPL_VAR NAME='LNG_Search'/></button>
				</div>
				<div class="text-center loading">
					<img src="<TMPL_VAR NAME='PATH2MAIN' />images/loading.gif">
				</div>
				<div id="receipt-list-table"></div>
				<script type="text/javascript">
					$(document).ready(function(){
						$('.loading').show();
						var employeeID = "<TMPL_VAR NAME='employee_id'>";
						var page = '<TMPL_VAR NAME='Page'>';
						ReloadTableAjax(employeeID, page);
					});
					$(document).on('click', '#FilterReceipt', function(e){
						$('.loading').show();
						var employeeID = "<TMPL_VAR NAME='employee_id'>";
						var page = "<TMPL_VAR NAME='Page'>";
						ReloadTableAjax(employeeID, page);
						e.preventDefault();
					});
                    $(document).on('click','ul.pagination li a',function(e){
                        $('.loading').show();
						var page = $(this).attr('href').split('=');
						page = (page[Number(page.length)-1]);
                        var employeeID = "<TMPL_VAR NAME='employee_id'>";
						ReloadTableAjax(employeeID, page);
                        e.preventDefault();
                    });
					$(document).on('change', 'select[name=ItemsOnPage]', function(e){
						$('.loading').show();
						var employeeID = "<TMPL_VAR NAME='employee_id'>";
						var page = "<TMPL_VAR NAME='Page'>";
						ReloadTableAjax(employeeID, page);
						e.preventDefault();
					});

					$('[name="FilterCreatedRangeChat"]').daterangepicker({
						parentEl: ".modal",
						timePicker: true,
						timePicker12Hour: false,
						timePickerIncrement: 1,
						format: "MM/DD/YYYY HH:mm"
					});

					function ReloadTableAjax(employeeID, page) {
						$.ajax({
							url: '<TMPL_VAR NAME='PROJECT_PATH'>module/receipt/ajax.php',
							type: 'GET',
							dataType: 'JSON',
							data:{
								Action: 'ReloadChatTable',
								Section: 'receipt',
								employee_id: employeeID,
								FilterProductGroup: $("[name='FilterProductGroup']").val(),
								FilterCreatedRangeChat: $("[name='FilterCreatedRangeChat']").val(),
								Page: page,
								ItemsOnPage: $("[name='ItemsOnPage']").val(),
							},
							success: function(data){
								if(typeof data.HTML != 'undefined')
									$('#receipt-list-table').html(data.HTML);
								$('.loading').hide();
							}
						});
					}
				</script>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal"><TMPL_VAR NAME='LNG_Close'></button>
			</div>
		</div>
	</div>
</div>