<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
	<div class="modal-dialog processing-details">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"><TMPL_VAR NAME='LNG_ProcessingDetailsOfReceipt'> <TMPL_VAR NAME='LegalReceiptID'></h4>
			</div>
			<div class="modal-body">
				<TMPL_IF NAME='ProcessingList'>
					<table class="table">
						<thead>
						<tr>
							<th>#</th>
							<th><TMPL_VAR NAME='LNG_StartingStatus'></th>
							<th><TMPL_VAR NAME='LNG_Verificator'></th>
							<th><TMPL_VAR NAME='LNG_OpeningTime'></th>
							<th><TMPL_VAR NAME='LNG_SaveTime'></th>
							<th><TMPL_VAR NAME='LNG_ElepcedTime'></th>
							<th><TMPL_VAR NAME='LNG_SavedStatus'></th>
						</tr>
						</thead>
						<tbody>
						<TMPL_LOOP NAME='ProcessingList'>
							<tr>
								<th scope="row"><TMPL_VAR NAME='__ROWNUM__'></th>
								<td><TMPL_VAR NAME='starting_status'></td>
								<td><TMPL_VAR NAME='user_name'></td>
								<td><TMPL_VAR NAME='opening_time'></td>
								<td><TMPL_VAR NAME='save_time'></td>
								<td><TMPL_VAR NAME='elapsed_time'></td>
								<td><TMPL_VAR NAME='saved_status'></td>
							</tr>
						</TMPL_LOOP>
						</tbody>
					</table>
					<TMPL_ELSE>
						<div class="alert alert-success"><TMPL_VAR NAME='LNG_Empty'></div>
				</TMPL_IF>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal"><TMPL_VAR NAME='LNG_Close'></button>
			</div>
		</div>
	</div>
</div>