<htmlpageheader name="firstpage" style="display:none">
	<div class="bookkeeping-header">
		<br />
		<div class="image">

		</div>
		<table width="100%" border="0" cellpadding="5">
			<tr>
				<td width="21%"><br/>Name: <TMPL_VAR NAME='employee_name'></td>
				<td width="14%"><br/>Kreditor: <TMPL_VAR NAME='acc_creditor'></td>
				<td width="12%"><br/>MA-Nr.: <TMPL_VAR NAME='employee_guid'></td>
				<td width="14%"><br/>KST: <TMPL_VAR NAME='cost_center_number'></td>
				<td width="14%"><br/>Bu-Konto:</td>
				<td width="14%"><br/>Bu-Konto2:</td>
				<td width="11%"><img align="right" src="<TMPL_VAR NAME='PROJECT_PATH'>module/<TMPL_VAR NAME='Module'>/template/images/logo-small.jpeg"></td>
			</tr>
			<tr>
				<td width="21%">trebono Beleg Nr.:</td>
				<td colspan="2">Genehmigter Betrag:</td>
				<td>Währung:</td>
				<td>Steuer:</td>
			</tr>
			<tr>
				<td colspan="3">Info:</td>
				<td colspan="4">Kommentar:</td>
			</tr>
		</table>
	</div>
</htmlpageheader>
<htmlpageheader name="otherpages" style="display:none">
</htmlpageheader>

<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
<sethtmlpageheader name="otherpages" side=value="on" />