<div class="invoice-footer">
	<hr style="color:#000000;">
	<table width="100%">
		<tr>
			<td width="25%">
				2KS Gutschein Handels GmbH<br />
				Bahnhofstrasse 54<br />
				64367 Darmstadt, Germany<br />
				<a href="mailto:info@trebono.de">info@trebono.de</a>
			</td>
			<td width="20%">
				Geschäftsführer:<br />
				Jörg Klingler<br />
				(Vorsitzender)<br />
				Thorsten Stein
			</td>
			<td width="26%">
				Bankverbindung:<br />
				Sparkasse Darmstadt<br />
				IBAN: DE29 5085 0150 0000 7851 30<br />
				BIC: HELADEF1DAS
			</td>
			<td width="29%">
				Handelsregister Darmstadt HRB 100014<br />
				Steuernummer: 07 249 50980<br />
				Ust-IdNr.:<br />
				Finanzamt Darmstadt
			</td>
		</tr>
	</table>
</div>