<div class="invoice-footer">
	<hr style="color:#000000;">
	<table width="100%">
		<tr>
			<td width="25%">
				2KS Cloud Services GmbH<br />
				Bahnhofstrasse 54<br />
				64367 Darmstadt - Mühltal<br />
				<a href="mailto:info@trebono.de">info@trebono.de</a>
			</td>
			<td width="20%">
				Geschäftsführer:<br />
				Jörg Klingler<br />
				(Vorsitzender)<br />
				Thorsten Stein
			</td>
			<td width="26%">
				Bankverbindung:<br />
				Sparkasse Darmstadt<br />
				IBAN: DE38 5085 0150 0000 7706 12<br />
				BIC: HELADEF1DAS
			</td>
			<td width="29%">
				Handelsregister Darmstadt HRB 87964<br />
				Steuernummer: 07 238 143 35<br />
				Ust-IdNr.: DE28 2658 582<br />
				Finanzamt Darmstadt
			</td>
		</tr>
	</table>
</div>