<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='CHARSET'>">
</head>
<body>
    Guten Tag <TMPL_VAR NAME='salutation'> <TMPL_VAR NAME='first_name'> <TMPL_VAR NAME='last_name'>,<br /><br />

    Wir freuen uns, dass Sie unseren trebono Cloud Service verwenden.<br /><br />

    Sie finden die Datensicherungsdatei des Unternehmens <TMPL_VAR NAME='company_unit_title'> für die Periode <TMPL_VAR NAME='date_from' FORMAT='date'> - <TMPL_VAR NAME='date_to' FORMAT='date'> unter dem folgenden Link:<br /><br />

    <a href="<TMPL_VAR NAME='PROD_BASE_URL'>/admin/module.php?load=billing&Section=stored_data"><TMPL_VAR NAME='PROD_BASE_URL'>/admin/module.php?load=billing&Section=stored_data</a><br /><br />

    Wie gewohnt können Sie sich mit Ihren normalen Zugangsdaten die Datensicherungsdatei herunterladen.<br /><br />

    Sollten Sie Fragen oder Anregungen haben wenden Sie sich bitte jederzeit gerne an uns, am besten mit einer E-Mail an support@trebono.de.<br /><br />

    Wir wünschen Ihnen weiterhin viel Spaß beim Digitalisieren Ihrer Belege und dem Sparen von Abgaben!<br /><br /><br />

    Mit freundlichen Grüßen<br /><br />
    Ihr trebono Support Team<br /><br />
    2KS Cloud Services GmbH<br /><br />

    <img src="cid:logo" /><br />
    2KS Cloud Services GmbH<br />
    Bahnhofstrasse 54, 64 367 Darmstadt-Mühltal, Germany<br /><br />

    Tel.:  +49 6151 493 411-0<br />
    Web:   www.trebono.de<br />
    Email: support@trebono.de<br /><br />

    Erleben Sie trebono Live auf YouTube:<br />
    https://youtu.be/ie4yHoHI3Q0<br />
    https://youtu.be/T8YTghuMfKE<br /><br />

    Geschäftsführer/Managing Directors: Jörg Klingler, Thorsten Stein<br />
    Handelsregister/Commercial Register: Amtsgericht Darmstadt HRB 87964<br /><br />

    <small>*This message and any attachments are solely for the intended recipient and may contain confidential or privileged information. If you are not the intended recipient, any disclosure, copying, use, or distribution of the information included in this message and any attachments is prohibited. If you have received this communication in error, please notify us by reply e-mail and immediately and permanently delete this message and any attachments.</small>
</body>
</html>