<!DOCTYPE html>
<html class=" ">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='CHARSET'>" />
		<meta charset="utf-8" />
		<title>Error 403</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="shortcut icon" href="<TMPL_VAR NAME='PATH2MAIN'>images/favicon.png" type="image/x-icon" />	<!-- Favicon -->
		<link rel="apple-touch-icon-precomposed" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-114-precomposed.png">	<!-- For iPhone 4 Retina display -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-72-precomposed.png">	<!-- For iPad -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-144-precomposed.png">	<!-- For iPad Retina display -->

		<!-- CORE CSS FRAMEWORK - START -->
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>fonts/fontawesome/css/v4-shims.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>css/animate.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>
		<!-- CORE CSS FRAMEWORK - END -->

		<!-- CORE CSS TEMPLATE - START -->
		<link href="<TMPL_VAR NAME='PATH2MAIN'>css/style.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>css/responsive.css" rel="stylesheet" type="text/css"/>
		<!-- CORE CSS TEMPLATE - END -->

	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->
	<body class="login_page">

		<div class="col-lg-12">
			<section class="box nobox">
				<div class="content-body">	<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">

							<h1 class="page_error_info text-white">
								
								Es tut uns leid, Sie haben leider keine Zugriffsberechtigung auf diese Funktion bzw. Informationen.<br />
								Bitte kontaktieren Sie unseren Support (<a href="mailto:support@trebono.de">support@trebono.de</a>), wenn Sie spezielle Informationen benötigen.<br /><br />
								
								Vielen Dank Ihr <span class="bold">trebono</span> Team
							</h1>
						</div>
					</div>
				</div>
			</section></div>



		<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


		<!-- CORE JS FRAMEWORK - START --> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>js/jquery-1.11.2.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>js/jquery.easing.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/pace/pace.min.js" type="text/javascript"></script>  
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/viewport/viewportchecker.js" type="text/javascript"></script>  
		<!-- CORE JS FRAMEWORK - END --> 

		<!-- CORE TEMPLATE JS - START --> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>js/scripts.js" type="text/javascript"></script>
		<!-- END CORE TEMPLATE JS - END --> 
	</body>
</html>



