<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><TMPL_VAR NAME='LNG_ConfigHistory'></h4>
            </div>
            <div class="modal-body">
                
                <TMPL_IF NAME='HistoryList'>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th><TMPL_VAR NAME='LNG_User'></th>
                            <th><TMPL_VAR NAME='LNG_Version'></th>
                            <th><TMPL_VAR NAME='LNG_DateFrom'></th>
                            <th><TMPL_VAR NAME='LNG_Created'></th>
                            <TMPL_IF NAME='ShowValue'>
                                <th width="100"><TMPL_VAR NAME='LNG_Value'></th>
                            <TMPL_ELSE>
                                <th width="100"></th>
                            </TMPL_IF>
                        </tr>
                        </thead>
                        <tbody>
                        <TMPL_LOOP NAME='HistoryList'>
                            <tr>
                                <th scope="row"><TMPL_VAR NAME='__ROWNUM__'></th>
                                <td><a href="<TMPL_VAR NAME='ADMIN_PATH'>user.php?user_id=<TMPL_VAR NAME='user_id'>"><TMPL_VAR NAME='user_name'></a></td>
                                <td><TMPL_VAR NAME='id'></td>
                                <td><TMPL_VAR NAME='date_from' FORMAT='datetime'></td>
                                <td><TMPL_VAR NAME='created' FORMAT='datetime'></td>
                                <td>
                                    <TMPL_IF NAME='ShowValue'>
                                        <TMPL_VAR NAME='value'>
                                    <TMPL_ELSE>
                                        <a href="<TMPL_VAR NAME='MODULE_URL'>?config_version_id=<TMPL_VAR NAME='id'>" target="_blank">
                                            <span class="fa fa-eye"></span> view
                                        </a>
                                    </TMPL_IF>
                                </td>
                            </tr>
                        </TMPL_LOOP>
                        </tbody>
                    </table>
                    <TMPL_ELSE>
                        <div class="alert alert-success"><TMPL_VAR NAME='LNG_Empty'></div>
                </TMPL_IF>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal"><TMPL_VAR NAME='LNG_Close'></button>
            </div>
        </div>
    </div>
</div>