<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <p><TMPL_VAR NAME="Message" FORMAT="nl2br" ESCAPE="none" /></p>
    
    <p><TMPL_VAR NAME="LNG_FooterText" FORMAT="nl2br" ESCAPE="none" /></p>
    <p>
        <img src="cid:logo.png">
    </p>
    <p><TMPL_VAR NAME="LNG_FooterAddress" FORMAT="nl2br" ESCAPE="none" /></p>
    
    <div style="margin-top: 35px;"><TMPL_VAR NAME="LNG_Attachment" /></div>
</body>
</html>