<div class="row">
	<TMPL_IF NAME='ErrorList'>
		<div class="alert alert-danger alert-no-margin">
			<TMPL_LOOP NAME='ErrorList'>
				<TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS>
			</TMPL_LOOP>
		</div>
	</TMPL_IF>
	<TMPL_IF NAME='MessageList'>
		<div class="alert alert-success alert-no-margin">
			<TMPL_LOOP NAME='MessageList'>
				<TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS>
			</TMPL_LOOP>
		</div>
	</TMPL_IF>
	<section class="box no-margin">
		<header class="panel_header" for="header_company_unit_list" table="company">
			<h2 class="title"><TMPL_VAR NAME='LNG_CompanyUnitList'></h2>
		</header>								
		<div class="content-body">
			<form action="<TMPL_VAR NAME='MODULE_URL'>" method="post" autocomplete="off">
				<div class="row">										
					<div class="col-md-2 col-sm-3">
						<div class="form-group">
							<label class="form-label"><TMPL_VAR NAME='LNG_FilterTitle'></label>
							<input type="text" placeholder="<TMPL_VAR NAME='LNG_FilterTitlePlaceholder'>" class="form-control" name="FilterTitle" value="<TMPL_VAR NAME='FilterTitle'>">
						</div>
					</div>
					<div class="col-md-2 col-sm-3">
						<label class="form-label"><TMPL_VAR NAME='LNG_IsActive'/></label>
						<select name="FilterArchive" class="form-control">
							<option value=""><TMPL_VAR NAME='LNG_All'/></option>
							<option value="N" <TMPL_IF NAME='FilterArchive' value='N'>selected</TMPL_IF>><TMPL_VAR NAME='LNG_IsActiveY'/></option>
							<option value="Y" <TMPL_IF NAME='FilterArchive' value='Y'>selected</TMPL_IF>><TMPL_VAR NAME='LNG_IsActiveN'/></option>
						</select>
					</div>
					<div class="col-md-2 col-sm-3">
						<label class="form-label"><TMPL_VAR NAME='LNG_HasActiveContractFor'/></label>
						<select name="FilterActiveModule" class="form-control select2-like placehold">
							<option value=""></option>
							<TMPL_LOOP NAME="ProductGroupList">
								<optgroup label="<TMPL_VAR NAME='title_translation'>">
									<TMPL_LOOP NAME="ProductList">
										<option value="<TMPL_VAR NAME='product_id'>" <TMPL_IF NAME='selected' VALUE='Y'>selected</TMPL_IF>><TMPL_VAR NAME="title_translation"/></option>
									</TMPL_LOOP>
								</optgroup>
							</TMPL_LOOP>
						</select>
					</div>
					<div class="col-md-1 col-sm-2">
						<div class="form-group">
							<label class="form-label hidden-xs">&nbsp;</label>
							<button type="submit" class="btn btn-primary btn-icon"><i class="fa fa-search"></i> <TMPL_VAR NAME='LNG_FilterApply'></button>
						</div>
					</div>
					<TMPL_IF NAME='Admin'>
					<div class="col-md-5 col-sm-3 text-right">
						<div class="form-group">
							<label class="form-label hidden-xs">&nbsp;</label><br />
							<a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&company_unit_id=" class="btn btn-primary btn-icon"><i class="fa fa-plus"></i> <TMPL_VAR NAME='LNG_Add'></a>
						</div>
					</div>
					<div class="col-md-10"></div>
					<div class="col-md-2 text-right" id="buttonUpload">
						<div class="form-group">
							<label for="btn-upload" class="btn btn-upload btn-icon"><i class="fa fa-upload"></i> <TMPL_VAR NAME='LNG_UploadFile'></label>
							<input type="file" name="upload" id="btn-upload">
						</div>
					</div>
					<div class="col-md-2 hidden" id="progressBar">
						<div class="progress progress-md">
	                         <div class="progress-bar progress-bar-primary" id="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
	                     </div>
					</div>
					</TMPL_IF>
				</div>
				<TMPL_VAR NAME='ParamsForFilter' ESCAPE='none'>
			</form>
			
			<TMPL_IF NAME='CompanyList'>
				<div class="row">
					<div class="col-md-6 form-group text-center-xs">
						<span><TMPL_VAR NAME='ListInfo'></span>
					</div>
					<div class="col-md-6 form-group text-right text-center-xs">
						<form action="<TMPL_VAR NAME='MODULE_URL'>" method="post" class="form-inline">
							<span class="right15 visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline"><TMPL_VAR NAME='LNG_CompaniesOnPage'></span>
							<select name="ItemsOnPage" class="form-control">
								<TMPL_LOOP NAME='ItemsOnPageList'>
									<option <TMPL_IF NAME='Selected'>selected</TMPL_IF> value="<TMPL_VAR NAME='Value'>"><TMPL_IF NAME='Value'><TMPL_VAR NAME='Value'><TMPL_ELSE><TMPL_VAR NAME='LNG_All'></TMPL_IF></option>
								</TMPL_LOOP>
							</select>
							<TMPL_VAR NAME='ParamsForItemsOnPage' ESCAPE='none'>
						</form>
					</div>
				</div>
					
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<table class="table table-hover table-tree">
							<thead>
								<tr>
									<th class="col-md-2"><TMPL_VAR NAME='LNG_Title'></th>
									<th class="col-md-2"><TMPL_VAR NAME='LNG_Products'> (<TMPL_VAR NAME="EmployeesWithActiveBaseContract"/> / <TMPL_VAR NAME="EmployeesAll"/>)</th>
									<th class="col-md-2"><TMPL_VAR NAME='LNG_Address'></th>
									<th class="col-md-2"><TMPL_VAR NAME='LNG_Contacts'></th>
									<th class="col-md-2"><TMPL_VAR NAME='LNG_Employees'/> (<TMPL_VAR NAME="EmployeesUsedMobile"/> / <TMPL_VAR NAME="EmployeesAll"/>)</th>
									<th class="col-md-1"><TMPL_VAR NAME="LNG_Agreements" /></th>
									<th class="col-md-1"></th>
								</tr>
							</thead>
							<tbody>
								<TMPL_LOOP NAME='CompanyList'>
									<TMPL_LOOP NAME='CompanyUnitList'>
										<tr data-id="<TMPL_VAR NAME='company_unit_id'>" data-parent="<TMPL_VAR NAME='parent_unit_id'>" data-level="<TMPL_VAR NAME='level'>"<TMPL_IF NAME="archive" VALUE="Y"> class="inactive"</TMPL_IF>>
											<td data-column="name"><a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&company_unit_id=<TMPL_VAR NAME='company_unit_id'>"><TMPL_VAR NAME='title'></a></td>
											<td><TMPL_LOOP NAME='product_group_list'><TMPL_VAR NAME='title_translation'> <TMPL_VAR NAME='active_employee_count'> / <TMPL_VAR NAME='employee_count'> </br></TMPL_LOOP></td>
											<td>
												<TMPL_IF NAME='city'><TMPL_VAR NAME='city'>, </TMPL_IF>
												<TMPL_IF NAME='street'><TMPL_VAR NAME='street'>, </TMPL_IF>
												<TMPL_VAR NAME='house'>
											</td>
											<td>
												<TMPL_LOOP NAME='ContactList'>
													<a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&company_unit_id=<TMPL_VAR NAME='company_unit_id'>&contact_id=<TMPL_VAR NAME='contact_id'>"><TMPL_VAR NAME='first_name'> <TMPL_VAR NAME='last_name'></a>
													<TMPL_UNLESS NAME='__LAST__'>
														<br />
													</TMPL_UNLESS>
												</TMPL_LOOP>
											</td>
											<td>
												<a href="<TMPL_VAR NAME='ADMIN_PATH' />module.php?load=company&Section=employee&FilterName=&FilterCompanyTitle=<TMPL_VAR NAME='title' />&FilterApplicationUsed=Y&FilterCompanyUnitID=<TMPL_VAR NAME='company_unit_id'>" target="_blank"><TMPL_VAR NAME="employees_used_mobile" /></a>
												&nbsp;/&nbsp;
												<a href="<TMPL_VAR NAME='ADMIN_PATH' />module.php?load=company&Section=employee&FilterName=&FilterCompanyTitle=<TMPL_VAR NAME='title' />&FilterArchive=N&FilterCompanyUnitID=<TMPL_VAR NAME='company_unit_id'>" target="_blank"><TMPL_VAR NAME="employees_all" /></a>
											</td>
										<td>
											<input type="checkbox" class="iswitch iswitch-md iswitch-primary agreement-enable" <TMPL_IF NAME='agreement_enable' VALUE="Y"> checked</TMPL_IF>> &nbsp;
											<div class="agreement-links"<TMPL_IF NAME='agreement_enable' VALUE="N"> style="display: none;"</TMPL_IF>>
												<a href="<TMPL_VAR NAME='ADMIN_PATH' />module.php?load=agreements&OrganizationID=<TMPL_VAR NAME='company_unit_id'>">
													<TMPL_VAR NAME="LNG_Agreements" />
												</a>
												<a href="<TMPL_VAR NAME='ADMIN_PATH' />module.php?load=agreements&OrganizationID=<TMPL_VAR NAME='company_unit_id'>" target="_blank">
													<small><i class="fas fa-external-link-alt"></i></small>
												</a>
											</div>
											<br/>
											<a href="<TMPL_VAR NAME='ADMIN_PATH' />module.php?load=agreements&Section=confirmation&CompanyUnitID=<TMPL_VAR NAME='company_unit_id'>" target="_blank">
												<TMPL_VAR NAME="LNG_RecreationConfirmations" /> <small><i class="fas fa-external-link-alt"></i></small>
											</a>
										</td>
										<td class="text-right">
											<TMPL_IF NAME="Admin">
												<TMPL_IF NAME="archive" VALUE="N">
													<a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&Do=RemoveCompanyUnit&CompanyUnitIDs[]=<TMPL_VAR NAME='company_unit_id'>" class="" title="<TMPL_VAR NAME='title'>"><i class='fa fa-close delete'></i></a>
													<TMPL_ELSE/>
													<a href="<TMPL_VAR NAME='MODULE_URL'>&<TMPL_VAR NAME='ParamsForURL'>&Do=ActivateCompanyUnit&CompanyUnitIDs[]=<TMPL_VAR NAME='company_unit_id'>" class="" title="<TMPL_VAR NAME='title'>"><i class='fa fa-check activate'></i></a>
												</TMPL_IF>
											</TMPL_IF>
                                        </td>
										</tr>
									</TMPL_LOOP>
								</TMPL_LOOP>
							</tbody>
						</table>  
						<div class="text-center">
							<ul class="pagination">
								<TMPL_VAR NAME='Paging' ESCAPE='none'>
							</ul>
						</div>				  
					</div>
				</div>
			<TMPL_ELSE>
				<div class="alert alert-success"><TMPL_VAR NAME='LNG_Empty'></div>
			</TMPL_IF>
		</div>											
	</section>
</div>   

<script type="text/javascript">
	var message;
	
	$(document).ready(function(){
		$('select[name=ItemsOnPage]').change(function(){
			$(this).closest('form').submit();
		});

		var ContractUserOnly = "<TMPL_VAR NAME='ContractUserOnly'>";

		if (ContractUserOnly == 'Y')
		{
			$("#s2_linked_user_id").prop("disabled", true);
			$("#s2example-2").prop("disabled", true);
			$(".agreement-enable").remove();
		}
		
		var file;
		$('input#btn-upload').on('change', function(){
			
			if(message != null)
				HideMessage(message)
				
			var file = $(this).prop('files')[0];
			if( typeof file == 'undefined' ) return;
			var dataFile = new FormData();
			dataFile.append('File', file);
			dataFile.append('Action', 'UploadFile');
			var progressBar = $("#progress");
			$.ajax({
				url: '<TMPL_VAR NAME='PROJECT_PATH'>module/company/ajax.php',
				type: 'POST',
				data: dataFile,
				cache: false,
				dataType: 'JSON',
				processData: false,
				contentType: false,
				xhr: function(){
					$("#buttonUpload").addClass("hidden");
					$("#progressBar").removeClass("hidden");
			        var xhr = $.ajaxSettings.xhr();
			        xhr.upload.addEventListener('progress', function(evt){
			          if(evt.lengthComputable) {
			            var percentComplete = Math.ceil(evt.loaded / evt.total * 100);
			            progressBar.attr("aria-valuenow", percentComplete).attr("style", "width: " + percentComplete + "%;").text("<TMPL_VAR NAME='LNG_FileUpload'>");
			          }
			        }, false);
			        return xhr;
			      },
				success: function(data){
					
					if(typeof data.HTML != 'undefined'){
						$(data.HTML).modal('show').on('hidden.bs.modal', function () {
							$(this).remove();
						});
					}
					
					/*if(data.Status == "error"){
						for(var i = 0; i < data.ErrorList.length; i++){
							message = CreateStaticTopMessage(data.ErrorList[i]['Message'], 'error');
						}
						$("#progressBar").addClass("hidden");
						$("#buttonUpload").removeClass("hidden");
					}else if(data.Status == "success"){
						
						message = CreateStaticTopMessage(GetTranslation('file-uploaded'), 'success');
						
						for(var i = 0; i < data.ErrorList.length; i++){
							message = CreateStaticTopMessage(data.ErrorList[i]['Message'], 'error');
						}
						setTimeout('location.reload()', 3000);
					}*/
					
				},
				error: function(jqXHR, textStatus, errorThrown){
					message = CreateStaticTopMessage(textStatus + " / " + errorThrown, 'error');
					$("#progressBar").addClass("hidden");
					$("#buttonUpload").removeClass("hidden");
				}
			});
		});
		
		$('input.agreement-enable').change(function() {
		    var links = $(this).next('.agreement-links');
			var message = CreateMessage("<TMPL_VAR NAME='LNG_CompanyAgreementEnablingSaving' />", "info");
			var checkbox = this;
			
			$.ajax({
                url: '<TMPL_VAR NAME='MODULE_PATH'>ajax.php',
                type: 'POST',
                dataType: 'JSON',
				data: {
                    'Action': 'SetEnableAgreementCompanyUnit',
                    'company_unit_id': $(this).closest('tr').data('id'),
					'value': this.checked ? 'Y' : 'N'
				},
				success: function(data) {
                    if(data && data.result && data.result === true) {
                        UpdateMessage(message, "<TMPL_VAR NAME='LNG_CompanyAgreementEnablingSuccess' />", 'success');
                        if (checkbox.checked) {
                            links.show();
                        } else {
                            links.hide();
                        }
					} else {
                        checkbox.checked = !checkbox.checked;
                        UpdateMessage(message, "<TMPL_VAR NAME='LNG_CompanyAgreementEnablingError' />", 'error');
					}
				}
			});
		});
	});
</script>