<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='CHARSET'>">
</head>
<body>
<br />Guten Tag <TMPL_VAR NAME='salutation'> <TMPL_VAR NAME='first_name'> <TMPL_VAR NAME='last_name'>,<br /><br />

    Sie haben über ihren Arbeitgeber trebono Gutscheine erhalten. Damit wir Ihnen diese Gutscheine nach der Einlösung
    durch Sie auch erstatten können, benötigen wir dringend Ihre Bank Informationen von Ihnen.<br /><br />

    Sie können die Bank Informationen im trebono Portal unter service.trebono.de. Im trebono Portal melden Sie sich
    bitte mit ihren Handy Zugangsdaten an. In ihren Stammdaten können Sie dann die IBAN eingeben und speichern.<br /><br />

    Sobald Sie ihre Bankdaten aktualisiert haben, werden ihnen mit dem nächsten Zahlungslauf (i.d.R. nach dem 25. eines
    Monats) die ausstehenden Beträge überwiesen. Diese Beträge sind dann bis spätestens Ende des Monats auf ihrem Konto.<br /><br />

    Sollten Sie Fragen haben wenden Sie sich bitte an ihren trebono Ansprechpartner in ihrem Unternehmen.<br /><br />

    Wir freuen uns das Sie trebono verwenden und wünschen Ihnen weiterhin viel Freude damit.<br /><br />

    Mit freundlichen Grüßen<br />
    Ihr trebono Team<br /><br />

    <img src="cid:logo" /><br />

    2KS Cloud Services GmbH<br />
    Bahnhofstrasse 54, 64 367 DA-Mühltal, Germany<br /><br />

    Tel.: +49 6151 493 411-0<br />
    Web: www.trebono.de<br />
    Email: support@trebono.de<br /><br />

    Erleben Sie trebono Live auf YouTube:<br />
    https://youtu.be/ie4yHoHI3Q0<br />
    https://youtu.be/T8YTghuMfKE<br /><br />

    Geschäftsführer/Managing Directors: Jörg Klingler, Thorsten Stein<br />
    Handelsregister/Commercial Register: Amtsgericht Darmstadt HRB<br /><br />

    <small>*This message and any attachments are solely for the intended recipient and may contain confidential or privileged information. If you are not the intended recipient, any disclosure, copying, use, or distribution of the information included in this message and any attachments is prohibited. If you have received this communication in error, please notify us by reply e-mail and immediately and permanently delete this message and any attachments.</small>
</body>
</html>