<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='CHARSET'>">
</head>
<body>
    Guten Tag <TMPL_VAR NAME='salutation'> <TMPL_VAR NAME='first_name'> <TMPL_VAR NAME='last_name'>,<br /><br />

    leider haben Sie trotz mehrfacher Erinnerungen einige Gutscheine nicht eingelöst.
    Es tut uns sehr leid Ihnen mitteilen zu müssen, dass nun die folgenden Gutscheine abgelaufen sind:<br />

    <table border='0'>
        <tr>
            <td>Gutschein Art</td>
            <td>Offener Gutschein Wert</td>
            <td>Gutschein Anzahl</td>
            <td>Gutschein Nummern</td>
        </tr>
        <TMPL_LOOP NAME='voucher_list'>
            <tr>
                <td><TMPL_VAR NAME='product_name'></td>
                <td><TMPL_VAR NAME='open_amount' FORMAT='price'>€</td>
                <td><TMPL_VAR NAME='count'></td>
                <td>ID: <TMPL_VAR NAME='voucher_ids'></td>
            </tr>
        </TMPL_LOOP>
    </table>

    Sollten Sie Fragen oder Anregungen haben wenden Sie sich bitte jederzeit gerne an uns,<br />
    am besten mit einer E-Mail an support@trebono.de.<br /><br />

    Mit freundlichen Grüßen<br />
    Ihr trebono Support Team<br /><br />

    <img src="cid:logo" /><br />

    2KS Cloud Services GmbH<br />
    Bahnhofstrasse 54, 64 367 Darmstadt-Mühltal, Germany<br /><br />

    Tel.: +49 6151 493 411-0<br />
    Web: www.trebono.de<br />
    Email: support@trebono.de<br /><br />

    Geschäftsführer/Managing Directors: Jörg Klingler, Thorsten Stein<br />
    Handelsregister/Commercial Register: Amtsgericht Darmstadt HRB 100014<br /><br />

    <small>*This message and any attachments are solely for the intended recipient and may contain confidential or privileged information. If you are not the intended recipient, any disclosure, copying, use, or distribution of the information included in this message and any attachments is prohibited. If you have received this communication in error, please notify us by reply e-mail and immediately and permanently delete this message and any attachments.</small>

</body>
</html>